.addToCart

div(id="cartModal" class="modal fade" role="dialog")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal") &times;
            h4(class="modal-title") Shopping Cart
          div(class="modal-body")
            table
              thead
                tr
                  th(id="clearCart") Remove all
                  th Product Name
                  th Configuration
                  th Price
                  th Quantity
                  th Product Total              
              tfoot
                tr
                  td(colspan="4") 
                  td Total Price:
                  td(class="totalSum")
              tbody                
          div(class="modal-footer")
            button(type="button" class="btn btn-default" data-dismiss="modal") Check Out