doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
         integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u",
         crossorigin="anonymous")
    link(rel="stylesheet", type="text/css" href="/stylesheets/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
           integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa",
           crossorigin="anonymous") 
    script(src="https://use.fontawesome.com/c55681f1b6.js")
    script(src="/javascripts/client.js")   
    title Web Store
  body
    header
      div(class="jumbotron")
        h1 
          span Web Store
      nav(class="navbar navbar-defualt")
        div(class="nav navbar-nav pull-right")
          div(id="user" class="btn btn-info btn-lg" data-toggle="modal" data-target="")
            i(class="fa fa-user fa-2x" aria-hidden="true")
              h4(class="iconText" id="userButton")
                h5(id="signOut") 
    
          div(id="cart" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cartModal")
            i(class="fa fa-shopping-cart fa-2x" aria-hidden="true")
              span(class="badge")
              h4(class="iconText") My cart
    include logIn          
    include addToCart          
    

    div(id="container" class="row")
      section(id="categories" class="col-sm-2") 
        include categories
      section(id="products" class="col-sm-9") 
        block content
    footer

    
