.addToCart

div(id="userModal" class="modal fade" role="dialog")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal") &times;
            h4(class="modal-title") Log In
            form(id="logInForm")
                label User Name
                input(type="text" id="userName" required)
                br
                label Password
                input(type="password" id="password" minlength="6" required)
                br
                div(id="logInMsg" style="color:red")
                button(type="submit" class="btn btn-default" id="logIn" value="Continue")  
                //-data-dismiss="modal"        
                      
          div(class="modal-body")
            h4 New User
            form(id="registerForm")
                label User Name
                input(type="text" id="userName" required)
                div(id="registerMsg" style="color:red")
                br
                label Password
                input(type="password" id="password" minlength="6" required)
                br
                label Email Address
                input(type="email" id="email")
                br
                button(type="submit" class="btn btn-default" id="register") Register
                //- data-dismiss="modal"